@model DebtManager.Mvc.Models.DashboardVM
@{
    ViewBag.Title = "Index";
}

<h2>Dashboard</h2>

Current balance:
@if (@Model.Balance.MustPayAmount.HasValue)
{
    <span>You must pay a total of </span> @Model.Balance.MustPayAmount
}
@if (@Model.Balance.MustReceiveAmount.HasValue)
{
    <span>You must receive a total of</span> @Model.Balance.MustReceiveAmount
}




@if (Model.Debts.Any(d => d.MustReceiveUsername == Model.LoggedInUsername))
{
    <h3>You must receive</h3>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <th>From</th>
                <th>Amount</th>
            </tr>
            @foreach (var d in Model.Debts.Where(d => d.MustReceiveUsername == Model.LoggedInUsername))
            {
                <tr>
                    <td class="payer">@d.MustPayName</td>
                    <td class="amount">@d.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Debts.Any(d => d.MustPayUsername == Model.LoggedInUsername))
{
    <h3>You must pay</h3>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <th>To</th>
                <th>Amount</th>
            </tr>
            @foreach (var d in Model.Debts.Where(d => d.MustPayUsername == Model.LoggedInUsername))
            {
                <tr>
                    <td class="receiver">@d.MustReceiveName</td>
                    <td class="amount">@d.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}



