@model DebtManager.Mvc.Models.DashboardVM
@{
    ViewBag.Title = "Index";
}

<h3 class="pull-left">Dashboard</h3>
<br />
<br />
<br />


@if (@Model.Balance.MustPayAmount.HasValue)
{
    <div><span>Current balance: You must pay a total of </span> @Model.Balance.MustPayAmount</div>
}
@if (@Model.Balance.MustReceiveAmount.HasValue)
{
    <div>
        <span>Current balance: You must receive a total of</span> @Model.Balance.MustReceiveAmount
    </div>
}
@if (!@Model.Balance.MustReceiveAmount.HasValue && !@Model.Balance.MustPayAmount.HasValue)
{<div>
        <span>Current balance: Clean. You owe nothing and nothing is owed to you.</span>
    </div>
}




@if (Model.Debts.Any(d => d.MustReceiveUsername == Model.LoggedInUsername))
{
    <h3>You must receive</h3>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <th>From</th>
                <th>Amount</th>
            </tr>
            @foreach (var d in Model.Debts.Where(d => d.MustReceiveUsername == Model.LoggedInUsername))
            {
                <tr>
                    <td class="payer">@d.MustPayName</td>
                    <td class="amount">@d.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Debts.Any(d => d.MustPayUsername == Model.LoggedInUsername))
{
    <h3>You must pay</h3>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <th>To</th>
                <th>Amount</th>
            </tr>
            @foreach (var d in Model.Debts.Where(d => d.MustPayUsername == Model.LoggedInUsername))
            {
                <tr>
                    <td class="receiver">@d.MustReceiveName</td>
                    <td class="amount">@d.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}



